.link-button {
  width: 137px;
  height: 48px;
  background-color: #0278fe;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin: 0;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: #0063d2;
  cursor: url("../../../images/mouse-cursor-hand.svg"), auto;
}
