.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  margin: 118px auto 0;
  width: 92.5vw;
  max-width: 1184px;
}

/* @media screen and (max-width: 1232px) {
  .photo-grid {
    grid-gap: 16px;
    max-width: 720px;
    margin: 90px auto 0;
  }
} */

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 720px;
    width: 93.75vw;
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 1fr;
    row-gap: 12px;
    column-gap: 0;
    max-width: 288px;
    margin: 90px auto 0;
    width: 90vw;
  }
}
