.lead__title {
  display: flex;
  margin: 0 auto;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  max-width: 793px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    /* max-width: 720px; */
    width: 93vw;
  }
}

@media screen and (max-width: 656px) {
  .lead__title {
    font-size: 68px;
  }
}

@media screen and (max-width: 516px) {
  .lead__title {
    font-size: 54px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    /* max-width: 288px; */
    width: 90vw;
    font-size: 40px;
    line-height: 1.1;
  }
}
