.place__link-button-buy {
  display: flex;
  width: 248px;
  height: 48px;
  grid-area: place__link-button-buy;
  transition: background-color 0.3s ease;
}

.place__link-button-buy:hover {
  background-color: #0063d2;
  cursor: url("../../../images/mouse-cursor-hand.svg"), auto;
}

@media screen and (max-width: 568px) {
  .place__link-button-buy {
    place-self: center;
    width: 288px;
    /* width: 90vw; */
  }
}

@media screen and (max-width: 320px) {
  .place__link-button-buy {
    width: 90vw;
    font-size: 5.625vw;
    line-height: 1.222;
  }
}
