.cover__invitation {
  width: 656px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  align-self: center;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  .cover__invitation {
    max-width: 288px;
  }
}
