.cover__invitation {
  height: 254px;
  width: 656px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .cover__invitation {
    max-width: 288px;
    max-height: 163px;
  }
}
